/*common*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.pad-100 {
    padding: 100px 0;
}

.mb-100 {
    margin-bottom: 100px;
}

.dark-js {
    background-color: #161c2d !important;
}

/*end-common*/

/* top__header */
.top__header {
    background-color: #0d369f;
    padding: 13px 15px;
}

ul {
    list-style-type: none;
    margin: 0;
}

/* container__left */
.container__left ul li {
    margin-right: 30px;
}

.container__left ul li {
    display: inline-block;
}

.container__left ul li i {
    margin-right: 8px;
}

#nav-js.dark-js .navbar-brand.d-flex.align-items-center {
    color: white;
}

#nav-js.dark-js .navbar-nav .nav-item .nav-link {
    color: white;
}

#nav-js.dark-js .navbar-nav .nav-item .nav-link:hover {
    color: #4867b0;
}

#nav-js.dark-js .navbar-nav .nav-item.active .nav-link {
    color: #4867b0;
}

#nav-js.dark-js .form-inline .form-control {
    border: 2px solid white;
    background-color: #161c2d;
    color: white;
}

/* truoc hover */

.container__left ul li a {
    transition: all .5s;
}

/* sau hover */
.container__left ul li:hover a {
    color: #ff6e65;

}

/* truoc hover */
.top__header i {
    color: white;
    transition: all .5s;
}

/* sau hover */
.top__header a:hover i {
    color: #ff6e65;
}


.top__header a {
    text-decoration: none;
    color: white;
}

/* top__header right */

.container__right a {
    margin-right: 30px;
}

/* navbar */
/* scroll */
.scrolled {
    padding: 0px;
    border-bottom: none;
    z-index: 999 !important;
    background-color: #fff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
    height: 70px !important;
    transform: translateY(-10px);
    transition: all 0.3s;
}

.navbar-nav a {
    font-size: 16px;
    font-weight: 600;
}

/* logo navbar  and before hover*/
.navbar .navbar-brand img {
    margin-right: 4px;
}

.navbar .navbar-brand {
    color: #0d369f;
    font-weight: bold;
    font-size: 26px;
}

/* after hover */
a.navbar-brand:hover {
    color: #ff6e65 !important;
}



/* end top__header */

/* NavBar */
#site-header .fa-solid {
    color: white;
}

.navbar-light .navbar-toggler {
    background-color: #0d369f;
}

#navbarSupportedContent a {
    text-transform: uppercase;
    transition: all 0.5s;
    background: none;
}

#navbarSupportedContent .active {
    color: #ff6e65;
}

/* hover navbar */
#navbarSupportedContent .nav-item:hover .nav-link {
    color: #ff6e65;
}

.dropdown .nav-link:focus {
    color: #ff6e65;
}

a.dropdown-item:hover {
    color: #ff6e65;
}

.dropdown-menu {
    min-width: 11rem;
}

.dropdown-menu.show {
    width: 19%;
    margin: 0 auto;
}

/* search */
.form-control {
    border-radius: 30px;
    position: relative;
    width: auto;
}

.form-inline button {
    position: absolute;
    right: 0;
    margin-right: 70px;
    /* padding-left: 180px; */
    color: #4867b0;
}

.fixed-top {
    background-color: transparent;
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 90px;
    display: grid;
    align-items: center;
    position: sticky;

}

/* khi ấn vào sẽ có phần khung hiện ra
 */
/* .fixed-top a:hover,
a:active {
    outline: 0;
}

.fixed-top a:focus {
    outline: thin dotted;
} */

/* hover */
.form-inline button:hover {
    color: #ff6e65;
}







/*carousel*/
.capstoneCarousel {}

#carouselCapstone .carousel-item .carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    left: 13%;
    text-align: start;
    width: 60%;
    margin-right: auto;
}

#carouselCapstone .carousel-item img {
    filter: brightness(80%);
    object-fit: cover;
    height: 90vh;
    position: relative;
}


#carouselCapstone .carousel-caption h5 {
    font-size: 70px;
    line-height: 80px;
    font-weight: 700;
    padding-bottom: 1.6rem;
    /* margin-bottom: 2rem; */
}

#carouselCapstone .carousel-caption button,
#carouselCapstone .carousel-caption button i {
    color: black;
    transition: all .3s linear;
    font-weight: 700;
}

#carouselCapstone .carousel-caption button {
    font-size: 1rem;
    padding: .8rem 1.8rem;
    border: 1px solid white;
    background-color: white;
    letter-spacing: 2px;
    border-radius: 5px;
}

#carouselCapstone .carousel-caption button i {
    font-size: 1vw;
}

#carouselCapstone .carousel-caption button:hover {
    background-color: #ff6e65;
    color: white;
    border-color: #ff6e65;
}

#carouselCapstone .carousel-caption button:hover i {
    color: white;
}

#carouselCapstone .carousel-indicators.myDot {
    position: absolute;
    margin: 0;
    bottom: 8rem;
    right: 25px;
    left: unset;
    display: inline-block;
}

#carouselCapstone .carousel-indicators li {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin: 0;
    border: unset;
    background-color: white;
    opacity: 1;
}

#carouselCapstone .carousel-indicators li:focus {
    outline: black;
}

#carouselCapstone .carousel-indicators li:first-of-type {
    margin-bottom: .8rem;
}

#carouselCapstone .carousel-indicators li.active {
    background-color: #ff6e65;
}

.carousel__courses {
    margin-top: -4rem;
    position: relative;
}

.carousel__courses .course__item {
    padding: 2.5rem;
    border-radius: 8px;
}

.carousel__courses .course__item>i {
    font-size: 45px;
    margin-bottom: 25px;
}

.carousel__courses .col-3:nth-child(2) .course__item>i {
    transform: skew(-12deg);
}

.carousel__courses .course__item>h3 {
    font-size: 24px;
    transition: all .3s;
    cursor: pointer;
}

.carousel__courses .course__item>h3:hover {
    color: black;
}

.carousel__courses .myColor:nth-child(3) .course__item {
    background-color: #ff4f81;
}

.carousel__courses .myColor:last-of-type .course__item {
    background-color: #1ee697;
}

.courses__wrapper {
    position: relative;
}

/*end-carousel*/



/*introduce*/
.introduceStudiois {
    background-image: url("../img/bg3.jpg");
    background-size: cover;
    background-position: bottom center;
}

.introduce__item {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 1.875rem;
}

.introduce__item .introduce__info {
    width: 80%;
}

.introduce__item>i {
    width: 66px;
    display: block;
    height: 65px;
    font-size: 28px;
    border-radius: 50%;
    line-height: 65px;
    text-align: center;
    background-color: rgb(13 54 159 / 9%);
    color: #0d369f;
    margin-right: 1rem;
}

.introduce__info h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 6px;
}

.introduce__info p {
    font-size: 16px;
    line-height: 28px;
    margin: 0;
    letter-spacing: .4px;
}

/*end-introduce*/

/* studious */
.studios {
    /* margin-top: 16%; */
}

.studios.dark-js .studios__title {
    color: white;
}

.studios.dark-js .studios__images i {
    color: #4867b0;
    background-color: rgb(168 176 195 / 11%);
}

.studios.dark-js .studios__text a {
    color: white;
}

.studios.dark-js .studios__text p {
    color: #b7b7b7;
}

.studios__container span {
    color: #ff6e65;
}

.studios__title,
.studios__title h3 {
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    position: relative;
}

/* tạo 2 sọc dưới title */
.studios__title::before {
    left: -20px;
    bottom: -8px;
}

.studios__title::after {
    left: 20px;
    bottom: -15px;
}

.studios__title::before,
.studios__title::after {
    content: "";
    background: #707070;
    width: 60px;
    height: 2px;
    position: absolute;
    right: 0;
    margin: 0 auto;
}

/* menu studious */
.studios__images i {
    color: #0d369f;
    font-size: 30px;
    background: #0d369f17;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
}

.studios__text h3 {
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
}

.studios__text p {
    margin-top: 15px;
    color: #707070;
}

/* truoc hover */
.studios__text a {
    text-decoration: none;
    color: black;
    transition: all .5s;
}

/* sau hover */
.studios__text:hover a {
    color: #ff6e65;
}

/*end-menu*/



/*number_N*/

.numbers span {
    color: #ff6e65;
}


.title__main {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    position: relative;
}

/* tạo 2 sọc dưới title numbers */
.title__main::before {
    left: -20px;
    bottom: -8px;
}

.title__main::after {
    left: 20px;
    bottom: -15px;
}

.title__main::before,
.title__main::after {
    content: "";
    background: #707070;
    width: 60px;
    height: 2px;
    position: absolute;
    right: 0;
    margin: 0 auto;
}

.numbers__stats .line {
    border-right: 1px solid #eee;
}

.counter {
    font-size: 46px;
    font-weight: 600;
}

.line p {
    text-transform: uppercase;
}

.numbers.dark-js .numbers__title .title__main,
.numbers.dark-js .numbers__stats .line .counter {
    color: white;
}



@media screen and (max-width: 992px) {
    .numbers__stats .line {
        border-right: none;
    }
}

/*end-number_N*/

/*feedback_K*/
.feedback__title {
    position: relative;
}

.feedback__title h3 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
}

.feedback__title h3 span {
    color: #ff6e65;
}

.feedback__title::before,
.feedback__title::after {
    content: "";
    background: #707070;
    width: 60px;
    height: 2px;
    position: absolute;
    right: 0;
    margin: 0 auto;
}

.feedback__title::before {
    left: -20px;
    bottom: -8px;
}

.feedback__title::after {
    left: 20px;
    bottom: -15px;
}

.feedback__item {
    padding: 2rem;
    border-radius: 4px;
    box-shadow: 0 20px 62px rgb(4 20 69 / 10%);
}

.feedback__item i {
    color: #ff6e65;
    font-size: 22px;
}

.feedback__item>p {
    margin-bottom: 1.5rem;
    color: #707070;
}

.feedback__item .feedback__user img {
    border-radius: 50%;
    margin-right: 1rem;
}

.feedback__item .feedback__user .user__info h5,
.feedback__item .feedback__user .user__info p {
    margin: 0;
    letter-spacing: .4px;
}

.feedback__item .feedback__user .user__info h5 {
    font-weight: 600;
}

.feedback__item .feedback__user .user__info p {
    font-size: 12px;
    color: #707070;
}


.feedbackStudious.dark-js .feedback__title,
.feedbackStudious.dark-js .feedback__item .user__info h5 {
    color: white;
}

.feedbackStudious.dark-js .feedback__item p {
    color: #b7b7b7;
}

.feedbackStudious.dark-js .feedback__item {
    box-shadow: 0 20px 62px hsla(222, 34%, 17%, 1);
}


/*#161c2d*/

/*end-feedback*/

/*instructors_N*/
.instructors__title span {
    color: #ff6e65;
}

.row__content {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.row__content img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.instructors .row__menu {
    box-shadow: 0px 20px 62px rgb(4 20 69 / 10%);
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
}

.instructors .row__info {
    position: absolute;
    bottom: -227px;
    margin: 0;
    background: rgb(8 8 8 / 29%);
    padding: 20px 0;
    transition: .5s all;
    width: 100%;
    text-align: center;
}


.instructors .row__menu:hover .row__info {
    bottom: 0;
}

.instructors .row__icons .fac,
.twitter,
.google {
    background: #fff;
    width: 28px;
    height: 28px;
    display: inline-block;
    border-radius: 50%;
    /* padding-top: 3px; */
    color: #0d369f;
}

.instructors .row__info a:hover {
    opacity: .8;
}

.instructors .row__icons i {
    font-size: 14px;
    line-height: 28px;
}

.instructors .row__text small {
    font-size: 80%;
    color: #707070;
}

.instructors .row__text h5 {
    transition: all .5s;
    cursor: pointer;
    font-weight: 600;
}

.instructors .row__menu:hover .text_name {
    color: #ff6e65;
}

.introduceStudiois.dark-js .introduce__item {
    background-color: #040a17;
}

.introduceStudiois.dark-js .introduce__item i {
    background-color: rgb(168 176 195 / 11%);
    color: #4867b0;
}

.introduceStudiois.dark-js .introduce__info,
.instructors.dark-js .instructors__title .title__main,
.instructors.dark-js .row__menu .row__text .text_name {
    color: white;
}

.instructors.dark-js .row__menu {
    background-color: #161c2d;
    box-shadow: 0 20px 62px hsla(222, 34%, 17%, 1);
}

.instructors.dark-js .row__menu .row__text small {
    color: #b7b7b7;
}

/*end-instructors*/

/*contact_K*/
.contactStudious .contact__info h2 {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 35px;
}

.contactStudious .contact__info button {
    color: white;
    background-color: #ff6e65;
    padding: 1rem 2rem;
    font-weight: 600;
    font-size: 1rem;
    transition: all .5s linear;
}

.contactStudious .contact__info button:hover {
    background-color: #0d369f;
}

.contactStudious.dark-js .contact__info h2 {
    color: white;
}

.contactStudious.dark-js .contact__info button:hover {
    background-color: #4867b0;
}



/*end-contact*/

/*footer_N*/
.footer__content {
    padding: 80px 0;
    background: #060e1f;
}

.footer__menu h4.title__subscribe {
    font-size: 35px;
    line-height: 40px;
    color: #060606;
    font-weight: 600;
}

.footer__menu .title__menu p {
    font-size: 15px;
    color: #707070;
    letter-spacing: 1px;
}

.footer__subscribe {
    padding: 50px;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 10px;
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: -60px;
    box-shadow: 0px -1px 41px 0px rgb(21 22 23 / 8%);
}

.button__form {
    display: flex;
}

.button__form input {
    background: transparent;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    color: #060606;
    width: 100%;
    border-radius: 8px 0px 0px 8px;
    height: 55px;
    border: 1px solid #eee;
}

.button__form button {
    background: #0d369f;
    border: none;
    color: #fff;
    padding: 16px 30px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 0 8px 8px 0;
}

.button__form button:hover {
    opacity: 0.9;
    color: white;
}

.footer__row {
    margin-top: 120px;
}

.footer__row h6 {
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(23, 54, 88, 0.4);
    padding-bottom: 10px;
    font-weight: bold;
}

.Archives ul li a {
    color: #cecece;
    text-decoration: none;
}

.footer__row .Archives,
.categories ul li a {
    color: #cecece;
    position: relative;
    padding-left: 14px;
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 10px 0;
    display: block;
    text-decoration: none;
}

.footer__row ul li a {
    transition: all 0.5s;
}

.footer__row ul li a:hover {
    color: #fff;
}

.footer__row .Archives ul li a::before,
.categories ul li a::before {
    display: inline-block;
    font-family: 'FontAwesome';
    content: "\f101";
    position: absolute;
    left: 0px;
    font-size: 13px;
    color: #fff;
}

.tienich ul li {
    display: inline-block;
}

.Contact span {
    font-size: 18px;
    color: #fff;
    vertical-align: middle;
    margin-right: 10px;
    width: 25px;
    text-align: center;
}

.Contact a {
    transition: all 0.5s;
}

.Contact a:hover {
    color: #fff;
}

.phone {
    margin-top: 10px;
    padding: 10px 0;
}

.location {
    margin-top: 10px;
}

.Contact a,
p {
    text-decoration: none;
    color: #cecece;
    line-height: 25px;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
}

.About {
    border-left: 1px solid rgb(64 73 82 / 51%);
}

.About ul li a:hover {
    opacity: 0.8;
    transition: 0.3s ease;
}

.About span {
    font-size: 15px;
    line-height: 35px;
}

.About ul li a {
    color: #fff;
    width: 35px;
    height: 35px;
    background: rgba(255, 255, 255, 0.06);
    display: inline-block;
    border-radius: 50%;
    text-align: center;
}

.footer__copyright {
    background: #040a17;
    padding: 20px 0;
}

.footer__copyright a {
    color: white;
}

.footer__copyright p {
    font-size: 15px;
    line-height: 20px;
    color: #a0a0a0;
    margin-bottom: 0;
}

.footer__menu.dark-js .footer__subscribe {
    background-color: #161c2d;
}

.footer__menu.dark-js .footer__subscribe .title__menu .title__subscribe {
    color: white;
}

.button__form .btn {
    background-color: #4867b0;
}

/*end-footer*/

/* backToTop */
.cd-top {
    width: 50px;
    height: 50px;
    background: #0d369f;
    border-radius: 8px;
    line-height: 50px;
    text-align: center;
    display: block;
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: white;
    transition: all .2s;
    visibility: hidden;
    opacity: 0;
}



/* backtoTop */
.cd-top--is-visible {
    /* // back-to-top button visible */
    visibility: visible;
    opacity: 1;
}

#backToTop-js.cd-top--is-visible.dark-js {
    background: #4867b0 !important
}

.cd-top--fade-out {
    /* // reduce button opacity if user keeps scrolling */
    /* opacity: .5; */
}


/*responsive*/
/* navbar */
@media screen and (max-width: 991.19px) {
    #navbarSupportedContent .active {
        color: #0d369f;
    }

    #navbarSupportedContent .nav-item:hover .nav-link {
        color: #0d369f;
    }

    .navbar-collapse {
        background-color: white;
    }

    .collapse form {
        display: flex;
        justify-content: center;
    }

    .form-inline button {
        right: 20%;
        margin-right: 187px;
    }

    #nav-js.bgw {
        background-color: transparent !important;
        transition: all 0.5s;
    }

    .fixed-top {
        position: fixed;
    }
    .bgNav{
        background-color: white !important;
    }
}

/* end navbar */
/* header */
@media screen and (max-width: 991px) {
    .top__header {
        display: none;
    }
}

/* end header */
/* studious */
@media screen and (min-width:992px) {
    /* .studios {
        margin-top: 20%;
    } */
}

/* @media screen and (max-width:767px) {
    .studios {
        margin-top: 134%;
    }
} */

/* @media screen and (min-width:1197px) {
    .studios {
        margin-top: 50%;
    }
} */

/* end studious */
/*carousel*/

@media screen and (max-width: 992px) {
    #carouselCapstone .carousel-caption h5 {
        font-size: 50px;
        line-height: 60px;
    }

    .carousel__courses .course__item>i {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 767.98px) {
    #carouselCapstone .carousel-caption h5 {
        font-size: 45px;
        line-height: 55px;
        left: 5%;
    }
}

@media screen and (max-width: 575.98px) {
    #carouselCapstone .carousel-item .carousel-caption {
        width: 95%;
        left: 2%;
    }
}

/*end-carousel*/

/*introduce*/
/*end-introduce*/

/*number_N*/
/*end-number*/

/*feedback_K*/
/*end-feedback*/

/*instructors_N*/
/*end-instructor*/

/*contact_K*/
/*end_contact*/

/*footer_N*/
/*end-footer*/